*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #121013;
  color: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 26px;
  margin-top: 100px;
}

h2:first-child {
  margin-top: 0;
}

ul {
  list-style: none;
}

.wrapper {
  margin-top: 30px;
  margin-bottom: 100px;
}

.header {
  margin-top: 20px;
}

.header__container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__back-logo {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 42px;
  height: 42px;
}

.header__title {
  margin-left: 10px;
  font-size: 20px;
}

.header__nav-items {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-right: 20px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item-link {
  font-size: 18px;
  color: #ffffff;
  transition: color 0.2s;
}

.header__nav-item-link:hover {
  color: #e84545;
}

@media (max-width: 1140px) {
  .header__container {
    margin: 0 20px;
  }
}

/* SLIDERS  */
.slider-without-fight {
  width: 300px;
  height: 200px;
  margin: 50px auto 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: pan-y;
  cursor: -webkit-grab;
  cursor: grab;
}

.slider-without-fight.slider-active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider-without-fight img {
  pointer-events: none;
}

.slider-without-fight .slider-list {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-without-fight .slider-track {
  display: flex;
}

.slider-without-fight .slide {
  height: 200px;
  flex-shrink: 0;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #0a1931;
  background: #e84545;
}

.slider-without-fight .slide:first-child {
  width: 300px;
}

.slider-without-fight .slide:nth-child(2) {
  width: 270px;
}

.slider-without-fight .slide:nth-child(3) {
  width: 200px;
}

.slider-without-fight .slide:nth-child(4) {
  width: 180px;
}

.slider-without-fight .slide:nth-child(5) {
  width: 250px;
}

.slider-without-fight .slide:last-child {
  width: 230px;
}

.slider-endless {
  width: 250px;
  height: 200px;
  margin: 50px auto 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: pan-y;
  display: flex;
  position: relative;
}

.slider-endless .back-btn-slider-push {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.slider-endless .back-btn-slider-push.back-btn-slider-push-left {
  left: -30px;
}

.slider-endless .back-btn-slider-push.back-btn-slider-push-right {
  right: -30px;
}

.slider-endless .btn-slider-push {
  font-size: 0;
  color: transparent;
  position: relative;
  padding: 20px 10px;
}

.slider-endless .btn-slider-push::before, .slider-endless .btn-slider-push::after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  border-radius: 4px;
  width: 16px;
  height: 3px;
}

.slider-endless .btn-slider-push.btn-slider-push-last::before, .slider-endless .btn-slider-push.btn-slider-push-last::after {
  right: 2px;
}

.slider-endless .btn-slider-push.btn-slider-push-last::before {
  transform: rotate(-45deg);
  top: 13.5px;
}

.slider-endless .btn-slider-push.btn-slider-push-last::after {
  transform: rotate(45deg);
  bottom: 13.5px;
}

.slider-endless .btn-slider-push.btn-slider-push-next::before, .slider-endless .btn-slider-push.btn-slider-push-next::after {
  left: 2px;
}

.slider-endless .btn-slider-push.btn-slider-push-next::before {
  transform: rotate(45deg);
  top: 13.5px;
}

.slider-endless .btn-slider-push.btn-slider-push-next::after {
  transform: rotate(-45deg);
  bottom: 13.5px;
}

.slider-endless .slider-list {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-endless .slider-track {
  display: flex;
}

.slider-endless .slide {
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #0a1931;
  background: #e84545;
}
