<header class="header">
	<div class="header__container">
		<div class="header__back-logo">
			<img src="./img/logo/logo.svg" alt="logo" class="header__logo">
			<h4 class="header__title">I brought some favors ;)</h4>
		</div>
		<nav class="header__nav">
			<ul class="header__nav-items">
				<li class="header__nav-item">
					<a href="#" class="header__nav-item-link">Pop-Up</a>
				</li>
				<li class="header__nav-item">
					<a href="#" class="header__nav-item-link">Sliders</a>
				</li>
			</ul>
		</nav>
	</div>
</header>