.slider-split {
	position: relative;

	.slider-list {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
	}

	&-back-btns {
		position: absolute;
		width: 100%;
		bottom: 10px;
		display: flex;
		justify-content: space-around;
		z-index: 50;
	}

	&-btn {
		font-size: 0;
		color: transparent;

		cursor: pointer;
		border: 0;
		outline: none;

		border-radius: 10px;

		width: 100px;
		height: 10px;
		background-color: #ffffff;
		opacity: 0.45;

		transition: opacity $animate;

		&:hover {
			opacity: 0.75;
		}

		&.split-btn-active {
			opacity: 1;
		}
	}
}