.capabilities {
	margin: 120px 0 20px 0;

	&__content {

		&-title {
			font-size: 28px;
			text-align: center;
		}

		&-items {
			margin-top: 40px;
		}

		&-item {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}

			&:nth-child(2) {

				.capabilities__content-item-demo-wrapper {
					flex-direction: column;
				}

				.capabilities__content-item-demo-description {
					max-width: 720px;
				}
			}

			&-demo {
				width: 100%;

				.slider-endless {
					margin: 0 40px;
				}

				&-wrapper {
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin-top: 50px;
				}

				&-title {
					text-align: center;
					width: 100%;
				}

				&-back-code {
					display: flex;
    				flex-direction: column;
				}

				&-description {
					max-width: 400px;
					line-height: 16/10.5 * 100%;
				}
			}
		}
	}
}