.footer {
	margin: 10px 0 20px 0;

	&__items {
		display: flex;
		justify-content: center;
	}

	&__item {
		margin-right: 120px;

		&:last-child {
			margin-right: 0;
		}

		&-title {
			font-size: 18px;
		}

		&-links {
			display: flex;
			flex-direction: column;
			margin-top: 20px;
		}

		&-link {
			color: $white-color;
			transition: color $animate;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				color: $primary-color-2;
			}
		}
	}
}