.footer {
	padding: 10px 0;

	&__items {
		display: flex;
		justify-content: center;
	}

	&__item {

		&-link {

			svg {
				transition: opacity $animate;
			}

			&:hover {
				svg {
					opacity: 0.8;
				}
			}
		}
	}
}