<div class="slider-with-previews">
	<div class="slider-navigation">
		<div class="back-btn-slider-push back-btn-slider-push-left">
			<button data-direction="last" type="button" class="btn-slider-push btn-slider-push-last">Button</button>
		</div>
		<div class="back-btn-slider-push back-btn-slider-push-right">
			<button data-direction="next" type="button" class="btn-slider-push btn-slider-push-next">Button</button>
		</div>
	</div>
	<div class="slider-list">
		<div class="slider-track">
			<div class="slide">1</div>
			<div class="slide">2</div>
			<div class="slide">3</div>
			<div class="slide">4</div>
			<div class="slide">5</div>
			<div class="slide">6</div>
		</div>
	</div>
	<div class="slider-list-previews">
		<div class="slider-track-previews">
			<div class="slide-preview">1</div>
			<div class="slide-preview">2</div>
			<div class="slide-preview">3</div>
			<div class="slide-preview">4</div>
			<div class="slide-preview">5</div>
			<div class="slide-preview">6</div>
		</div>
	</div>
</div>