<button type="button" data-number-popup="1" class="popup-identical-btn-open btn-open-popup">Open popup 1</button>
<button type="button" data-number-popup="2" class="popup-identical-btn-open btn-open-popup">Open popup 2</button>
<button type="button" data-number-popup="3" class="popup-identical-btn-open btn-open-popup">Open popup 3</button>
<div id="popup-identical-1" class="popup-identical">
	<div class="popup-identical__container popup__container">
		<div class="popup-identical-content">
			<div class="popup-identical-content">
				<h2 class="popup-identical-content-title">Hello</h2>
				<div class="popup-identical-content-description">
					<p>
						Popup demo 1
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="popup-identical-2" class="popup-identical">
	<div class="popup-identical__container popup__container">
		<div class="popup-identical-content">
			<h2 class="popup-identical-content-title">Hello</h2>
			<div class="popup-identical-content-description">
				<p>
					Popup demo 2
				</p>
			</div>
		</div>
	</div>
</div>
<div id="popup-identical-3" class="popup-identical">
	<div class="popup-identical__container popup__container">
		<div class="popup-identical-content">
			<h2 class="popup-identical-content-title">Hello</h2>
			<div class="popup-identical-content-description">
				<p>
					Popup demo 3
				</p>
			</div>
		</div>
	</div>
</div>