<div class="popup-multiple">
	<button data-popup-number="1" type="button" class="popup-multiple-btn-open btn-open-popup">Open popup 1</button>
	<button data-popup-number="2" type="button" class="popup-multiple-btn-open btn-open-popup">Open popup 2</button>
	<button data-popup-number="3" type="button" class="popup-multiple-btn-open btn-open-popup">Open popup 3</button>
	<div class="popup-multiple__container popup-container">
		<div class="popup-multiple__container-content">

		</div>
	</div>
</div>