.code-html {

	.tag 		{ color: $color-tag-code; 		}
	.tag-close 	{ color: $color-close_tag-code; }
	.class 		{ color: $color-attr-code; 		}
	.text 		{ color: $color-text-code; 		}
	.content 	{ color: $color-content-code; 	}
	.comment	{ color: $color-comment-code	}
}
