.code-js {

	.var 			{ color: $color-var-code; 			}
	.var-content	{ color: $color-var_content-code; 	}
	.class 			{ color: $color-class-code; 		}
	.text 			{ color: $color-text-js-code; 		}
	.limitation		{ color: $color-limitation-code; 	}
	.method			{ color: $color-method-code; 		}
	.int 			{ color: $color-int-code; 			}
	.obj 			{ color: $color-obj-code; 			}
}