.slider-pagination {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);

	display: flex;

	.pagination-btn {
		outline: none;
		border: 0;

		color: transparent;
		font-size: 0;

		display: block;
		width: 10px;
		height: 10px;

		border-radius: 50%;
		background-color: $white-color;

		margin-right: 8px;
		opacity: 0.5;

		transition: opacity $animate;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			opacity: 1;
		}

		&.pagination-btn-active {
			opacity: 1;
		}
	}
}