*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter";

    background-color: $secondary-color-3;
    color: #ffffff;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}
