$primary-color-1: #2b2e4a;
$primary-color-2: #e84545;
$primary-color-3: #903749;
$primary-color-4: #53354a;

$secondary-color-1: #0a1931;
$secondary-color-2: #4d375d;
$secondary-color-3: #121013;

$white-color: #ffffff;

$animate: 0.2s;