$primary-color-1: #2b2e4a;
$primary-color-2: #e84545;
$primary-color-3: #903749;
$primary-color-4: #53354a;

$secondary-color-1: #0a1931;
$secondary-color-2: #4d375d;
$secondary-color-3: #121212;

$white-color: #ffffff;
$black-color: #000000;


$color-back-code: #232831;
// HTML
$color-tag-code: #e66d74;
$color-content-code: #bdbebf;
$color-attr-code: #ffcc6b;
$color-text-code: #c4e98e;
$color-close_tag-code: #8adeff;
$color-comment-code: #727b89;

// JS
$color-var-code: #c692e9;
$color-var_content-code: #eeffff;
$color-method-code: #82abfd;
$color-limitation-code: #8adeff;
$color-class-code: #8adeff;
$color-int-code: #f78d6b;
$color-text-js-code: #c4e98e;
$color-obj-code: #ffcc6b;

$animate: 0.2s;
$animation-multiplication-factor: 1.5;
